<% if current_user && current_user.approved && current_user.confirmed? %>
  <div class="bg-slate-950 text-white min-h-screen flex flex-col">
    <div class="bg-gray-900 flex items-center justify-between p-4">
        <h1 class="text-3xl font-bold">Welcome, <%= current_user.email.split("@").first.capitalize %> </h1>

      <div class="flex items-center gap-4">
        <%= link_to 'Trade', trader_transactions_path(trader_id: current_user.id), class: "text-white" %>

        <%= form_tag(destroy_user_session_path, method: :delete) do %>
          <%= submit_tag "Sign out", class: "cursor-pointer" %>
        <% end %>
      </div>
    </div>



    <div class="flex justify-center align-center mt-8">

      <section class=" border border-white flex flex-col p-4 ">
          

            <table class="text-center w-48">
              <thead>
                <tr>
                  <th class="px-4 py-2 text-lg">Owned Stocks</th>
                  <th class="px-4 py-2 text-lg">Total Quantity</th>
                </tr>
              </thead>
              <tbody>
                <% @total_quantity_per_stock.each do |symbol, total_quantity| %>
                  <tr>
                    <td class="px-4 py-2 text-lg"><%= symbol.upcase %></td>
                    <td class="px-4 py-2 text-lg"><%= total_quantity %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

      </section>

    <div class="w-1/2 overflow-x-auto  max-h-[650px] border border-white border-2">
      <div class="flex flex-col items-center">
        <table class="bg-gray-900 w-full rounded-lg">
          <thead>
            <tr>
              <th class="px-4 py-2">Action</th>
              <th class="px-4 py-2">Symbol</th>
              <th class="px-4 py-2">Quantity</th>
              <th class="px-4 py-2">Price</th>
            </tr>
          </thead>
          <tbody>
            <% if @transactions.present? %>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td class="<%= transaction.action == 'buy' ? 'text-green-500' : 'text-red-500' %> px-4 py-2"><%= transaction.action.capitalize %></td>
                  <td class="px-4 py-2"><%= transaction.symbol.upcase %></td>
                  <td class="px-4 py-2"><%= transaction.quantity %></td>
                  <td class="px-4 py-2"><%= transaction.price %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    </div>
  </div>
  </div>
  
<% else %>
  <%= render 'pending_approval' %>
<% end %>
