<div class="bg-slate-800 min-h-screen text-white flex flex-col items-center justify-center">

  <div class="p-20 bg-slate-900 border border-slate-800 rounded-xl">
    <h2 class="text-3xl font-bold mb-6">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :email, class: "text-xl" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-md p-2" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="mb-4">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-4">
        <%= f.label :password, class: "text-xl" %> <i class="text-sm">(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full rounded-md p-2" %>
        <% if @minimum_password_length %>
          <br />
          <em class="text-sm"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "text-xl" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full rounded-md p-2" %>
      </div>

      <div class="mb-4">
        <%= f.label :current_password, class: "text-xl" %> <i class="text-sm">(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full rounded-md p-2" %>
      </div>

      <div class="actions border border-yellow-400 bg-yellow-400 rounded-lg mb-3 cursor-pointer p-3 flex justify-center items-center">
        <%= f.submit "Update", class: "text-xl font-bold" %>
      </div>
    <% end %>

    <h3 class="text-2xl font-bold mb-4">Cancel my account</h3>

    <div class="mb-4">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "text-xl font-bold bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded-lg cursor-pointer" %></div>

    <%= link_to "Back", :back, class: "text-xl font-bold text-blue-500 hover:underline" %>
  </div>

</div>
