<div class="bg-slate-800 min-h-screen text-white flex flex-col items-center justify-center">


<div class="p-20 bg-slate-900 border border-slate-800 rounded-xl">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text-black w-full rounded-md" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"text-black w-full rounded-md" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"text-black w-full rounded-md" %>
  </div>

  <div class="actions  border border-yellow-400 bg-yellow-400 rounded-lg mt-3 mb-3 cursor-pointer p-3 flex justify-center items-center">
    <%= f.submit "Sign up", class: "w-full h-full cursor-pointer bg-transparent border-none text-xl font-bold"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>