<%= form_for(@user, url: registration_path(@user)) do |f| %>
    <p>email</p>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <p>password</p>
  <%= f.password_field :password, autocomplete: "new-password" %>
  <p>password confirmation</p>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

  <%= f.submit "Sign up" %>
<% end %>
