<h1>Welcome to the Admin Dashboard</h1>
<p>This is the landing page for the admin dashboard.</p>
<p>Here you can manage traders, view transactions, and perform other administrative tasks.</p>

<h2>All Traders</h2>
<ul>
  <% @traders.each do |trader| %>
    <li><%= trader.email %> | approved: <%= trader.approved %></li>
    <%= link_to 'View', admins_trader_path(trader) %>
    <%= link_to 'Edit', edit_admins_trader_path(trader) %>
    <%= link_to 'Delete', admins_trader_path(trader), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ul>

<h2>Pending Trader Sign-ups</h2>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pending_traders.each do |trader| %>
      <tr>
        <td><%= trader.email %></td>
        <td>
            <%= button_to 'Approve', admins_approve_trader_path(trader), method: :patch %>
            <%= link_to 'Reject', admins_reject_trader_path(trader), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Create New Trader</h2>
<%= form_for(User.new, url: admins_traders_path) do |f| %>
  <div>
    <%= f.label :email, "Email:" %>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, required: true %>
  </div>
 
  <%= f.submit "Create Trader" %>
<% end %>

<br />
<br />
<%= form_tag(destroy_user_session_path, method: :delete) do %>
  <%= submit_tag "Sign out" %>
<% end %>