<div class="bg-slate-950 text-white min-h-screen flex flex-col">

  <div class="bg-gray-900 flex items-center justify-between p-4">
    <h1 class="text-3xl font-bold">Trade</h1>

    <div class="flex items-center gap-4">
      <%= link_to 'Home', traders_dashboard_path %>
      <%= link_to 'Trade', trader_transactions_path(trader_id: current_user.id), class: "text-white" %>

      <%= form_tag(destroy_user_session_path, method: :delete) do %>
        <%= submit_tag "Sign out", class: "cursor-pointer" %>
      <% end %>
    </div>
  </div>

  <p class="text-lg mb-2 p-4">Account Value: <%= current_user.account_value %></p>
  <div class="flex justify-between mx-8 mt-8">
    <div class="w-1/2 overflow-x-auto  max-h-[650px] border border-white border-2">
      <div class="flex flex-col items-center">
        <table class="bg-gray-900 w-full rounded-lg">
          <thead>
            <tr>
              <th class="px-4 py-2">Action</th>
              <th class="px-4 py-2">Symbol</th>
              <th class="px-4 py-2">Quantity</th>
              <th class="px-4 py-2">Price</th>
            </tr>
          </thead>
          <tbody>
            <% if @transactions.present? %>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td class="<%= transaction.action == 'buy' ? 'text-green-500' : 'text-red-500' %> px-4 py-2"><%= transaction.action.capitalize %></td>
                  <td class="px-4 py-2"><%= transaction.symbol.upcase %></td>
                  <td class="px-4 py-2"><%= transaction.quantity %></td>
                  <td class="px-4 py-2"><%= transaction.price %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

   <div class="w-1/2">
  <div class="flex flex-col items-center mb-8">
    <%= form_with(url: trader_transactions_path, method: :post, class: "flex flex-col items-center") do |form| %>
      <div class="mb-4">
        <%= form.label :symbol, "Stock Symbol", class: "block text-lg" %>
        <%= form.text_field :symbol, class: "px-4 py-2 border border-gray-400 rounded-md text-black" %>
      </div>
      <div class="mb-4">
        <%= form.label :quantity, "Quantity", class: "block text-lg" %>
        <%= form.number_field :quantity, class: "px-4 py-2 border border-gray-400 rounded-md text-black" %>
      </div>
      <%= form.submit "Buy", class: "px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700" %>
    <% end %>
  </div>

  <div class="flex flex-col items-center">
    <%= form_with(url: sell_trader_transactions_path, method: :post, class: "flex flex-col items-center") do |form| %>
      <%= form.hidden_field :action, value: "sell" %>
      <div class="mb-4">
        <%= form.label :symbol, "Stock Symbol", class: "block text-lg" %>
        <%= form.text_field :symbol, class: "px-4 py-2 border border-gray-400 rounded-md text-black" %>
      </div>
      <div class="mb-4">
        <%= form.label :quantity, "Quantity", class: "block text-lg" %>
        <%= form.number_field :quantity, class: "px-4 py-2 border border-gray-400 rounded-md text-black" %>
      </div>
      <%= form.submit "Sell", class: "px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700" %>
    <% end %>
  </div>
</div>


</div>
