<h1>New Transaction</h1>
<%= form_with(model: @transaction, url: transactions_path) do |form| %>
  <%= form.label :action %>
  <%= form.text_field :action %>
  
  <%= form.label :symbol %>
  <%= form.text_field :symbol %>
  
  <%= form.label :quantity %>
  <%= form.number_field :quantity %>
  
  <%= form.label :price %>
  <%= form.number_field :price %>
  
  <%= form.submit %>
<% end %>